@import "./scss/components/variables";
@import "./scss/components/reset";
@import "./scss/components/header";
@import "./scss/components/footer";

@import "./scss/pages/index";
@import "./scss/pages/portafolio";
@import "./scss/pages/tienda";
@import "./scss/pages/servicios";
@import "./scss/pages/contacto";
 
@import "./scss/components/mediaqueries";