.title__contact {
    background-image: url("../assets/images/contacto.jpg");
    @include title-style;

    h1 {
        @include h1-style;
    }
}

.main__form {
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main__imput {
    width: 500px;
    padding: 5px;
    margin: 25px;
}
