.title__services {
    background-image: url("../assets/images/servicios.jpg");
    @include title-style;

    h1 {
        @include h1-style;
    }
}

.main__list {
    li {
        text-align: center;
        padding: 30px;
        list-style: none;
    }
    
    // Este mapa fue creado solo con la itencion de cumplir con la consigna "Utilizar map-get" \\
    $font-color: (
        col: #368363
    );
    // --------------------------------------------------------------------------------------- \\

    a {
        text-decoration: none;
        font-size: 70px;
        letter-spacing: 10px;
        color: black;
        transition: all 0.5s;

        &:hover {
            //----------map-get-----------\\
            color: map-get($font-color, col);
            //-----------------------------\\
            filter: blur(2px);
        }
    }
}

