header {
    background-color: $primary;
    display: flex;
    justify-content: space-around;

    .logo {
        width: 150px;
        height: 55px;
        transition: 1s;

        &:hover {
            filter: blur(2px);
            transform: scale(1.05);
        }
    }
}